<div class="card">
    <h2><%= jobItem.company %></h2>
    <h3><%= jobItem.job_title %></h3>
    <br>
    <p class="jobtype">Job type: <%= jobItem.job_type %></p>
    <br>
    <p class="desc"><%= jobItem.job_desc %></p>
    <br>
    <button type="button" id="login_btn" >Apply</button>
</div>