<html lang="en">

<head>
  <title>Careers720 - Smarter way to find your career</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
  <header id="masthead">
    <h1>Careers720</h1>
  </header>
  <div id="content">
    <form method="post" action="/login">
      <input type="text" name="username" placeholder="Username" class="login_inp"/>
      <br>
      <input type="password" name="password" placeholder="Password" class="login_inp"/>
      <br>
      <input type="submit" value="Log in" id="login_btn" />
    </form>
    <br>
    <p>or</p>
    <br>
    <p><a href="#">Create account</a></p>
  </div>
</body>

</html>
