* {
    margin: 0;
    font-family: "Arial", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#masthead {
    position: relative;
    height: fit-content;
    padding: 2vh;
    background-color: #29356e;
}

#masthead h1 {
    position: relative;
    margin: auto;
    width: fit-content;
    color: #fff;
    font-size: 3.5em;
}

#content{
    position: relative;
    margin: 20px auto;
    width: fit-content;
}

.login_inp{
    width: 15em;
    padding: 10px;
    margin: 10px;
}

#login_btn{
    display: block;
    position: relative;
    width: 10em;
    padding: 5px;
    margin: 10px auto;
    background-color: #3e456e;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#login_btn:hover{
    background-color: #29356e;
}

p{
    text-align: center;
}

#dash_container{
    display: flex;
    min-height: 100vh;
}

#dash_sidebar{
    background-color: #8287a8;
    padding: 2em;
}

#dash_sidebar img{
    height: 30vmin;
    width: 30vmin;
    margin-bottom: 1em;
    border-radius: 15vmin;
}

#dash_posts{
    padding: 3em;
}

.card{
    background-color: #fbfbff;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 #454545;
    margin: 1em 0;
    padding: 1em;
}

.card p{
    text-align: left;
}
